* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f3f4f6; 
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom utilities if you want */
@layer components {
  .btn-primary {
    @apply bg-indigo-600 text-white px-5 py-2 rounded-lg hover:bg-indigo-700;
  }
}